.box {
  position: relative;
  width: 1370px;
  height: 760px;
  p {
    position: absolute;
    bottom: -3rem;
    left: 0;
    color: #333;
    font-size: 1rem;
  }
  span {
    position: absolute;
    bottom: -4rem;
    left: 0;
    color: #24d081;
    font-size: 1.5rem;
  }
  .solar {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 6rem;
    height: 6rem;
    background: url('https://ems-public.oss-cn-beijing.aliyuncs.com/%E5%85%89%E4%BC%8F.png')
      no-repeat center/100%;
  }
  .battery {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 6rem;
    height: 6rem;
    background: url('https://ems-public.oss-cn-beijing.aliyuncs.com/battery.png') no-repeat
      center/60%;
    transform: translate(0, -50%);
  }
  .ev {
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 8rem;
    height: 8rem;
    background: url('https://ems-public.oss-cn-beijing.aliyuncs.com/EV') no-repeat center/100%;
  }
  .home {
    position: absolute;
    top: 50%;
    left: 44%;
    width: 15rem;
    height: 15rem;
    background: url('https://ems-public.oss-cn-beijing.aliyuncs.com/home.png') no-repeat center/100%;
    transform: translate(-50%, -50%);
  }
  .grid {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 10rem;
    height: 10rem;
    background: url('https://ems-public.oss-cn-beijing.aliyuncs.com/grid') no-repeat center/100%;
  }
  .house {
    position: absolute;
    right: 20%;
    bottom: 20%;
    width: 10rem;
    height: 10rem;
    background: url('https://ems-public.oss-cn-beijing.aliyuncs.com/house%20') no-repeat center/100%;
  }
  //
  .solarlive {
    width: 500px;
    height: 200px;
    margin-top: 50px;
    margin-left: 220px;
  }
  .path {
  }
  .line1 {
    animation: dash 5s linear infinite;
    stroke-dasharray: 680;
    stroke-dashoffset: 80;
  }
  .line2 {
    animation: dash2 5s linear infinite;
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 740;
    }
    to {
      stroke-dashoffset: 80;
    }
  }
  @keyframes dash2 {
    from {
      stroke-dashoffset: 600;
    }
    to {
      stroke-dashoffset: -60;
    }
  }
  .line3 {
    animation: dash3 5s linear infinite;
    stroke-dasharray: 220;
    stroke-dashoffset: 80;
  }
  .line4 {
    animation: dash4 5s linear infinite;
    stroke-dasharray: 200;
    stroke-dashoffset: 180;
  }
  @keyframes dash3 {
    from {
      stroke-dashoffset: 260;
    }
    to {
      stroke-dashoffset: 80;
    }
  }
  @keyframes dash4 {
    from {
      stroke-dashoffset: 200;
    }
    to {
      stroke-dashoffset: -60;
    }
  }
}
