.path {
}
.line1 {
  animation: dash 2s linear infinite;
  stroke-dasharray: 340;
  stroke-dashoffset: 300;
}
.line2 {
  animation: dash2 2s linear infinite;
  stroke-dasharray: 320;
  stroke-dashoffset: 440;
}
@keyframes dash {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 40;
  }
}
@keyframes dash2 {
  from {
    stroke-dashoffset: 280;
  }
  to {
    stroke-dashoffset: -40;
  }
}
